{{!-- Move to drop down --}}
{{#if (gt model.length 0)}}
	<div class="mail-option">
	  {{#rl-dropdown-container class="btn-group"}}
	    {{#rl-dropdown-toggle class="btn btn-default"}}
	    Move to {{fa-icon 'fa-angle-down'}}
	  	{{/rl-dropdown-toggle}}
		    {{#rl-dropdown tagName="ul" class="dropdown-menu" closeOnChildClick=true}}
		    <li>
		      <a {{ action "trashBulk" }}>
		      	{{fa-icon "trash"}} Delete
		      </a>
		    </li>
		  {{/rl-dropdown}}
	  {{/rl-dropdown-container}}
	</div>
{{/if}}

{{!-- Email list --}}
<table class="table table-inbox table-hover">
  <tbody>
    {{#each model as |email|}}
      <tr class="{{if email.readDate 'read' 'unread'}}">
	      <td class="inbox-small-cells">
					{{input type="checkbox" checked=email.checked}}
				</td>
        <td {{action "showEmail" email}} class="view-message dont-show">
        	{{email.from}}
        </td>
        <td {{action "showEmail" email}} class="view-message">
        	{{email.subject}}
        </td>
        <td {{action "showEmail" email}} class="view-message text-right">
        	{{relative-date-formatter email.sentAt relative=false}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>